
@import '//fonts.googleapis.com/css?family=Aclonica|Aldrich|Anonymous+Pro|Bowlby+One|Cagliostro|Open+Sans|Orbitron|Oswald|Philosopher|Quattrocento+Sans|Quicksand|Satisfy|Syncopate|Ubuntu+Mono|Voltaire';
@import '//fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Khula|Barrio|Montserrat+Subrayada|Raleway|Ravi+Prakash|Lora|Droid+Sans|Ubuntu|Droid+Serif|Baloo|PT+Serif|Indie+Flower|Dosis|Oxygen|Anton|Cabin|Arvo|Lobster|Pacifico';

.aclonica {
	font-family: 'Aclonica';
	font-size: 17px;
}

.aldrich {
        font-family: 'Aldrich';
        font-size: 17px;
}

.anonymouspro {
        font-family: 'Anonymous Pro';
        font-size: 17px;
}

.bowlbyone {
        font-family: 'Bowlby One';
        font-size: 17px;
}

.cagliostro {
        font-family: 'cagliostro';
        font-size: 17px;
}

.opensans {
        font-family: 'Open Sans';
        font-size: 17px;
}

.orbitron {
        font-family: 'Orbitron';
        font-size: 17px;
}

.oswald {
        font-family: 'Oswald';
        font-size: 17px;
}

.philosopher {
        font-family: 'Philosopher';
        font-size: 17px;
}

.quattrocentosans {
        font-family: 'Quattrocento Sans';
        font-size: 17px;
}

.quicksand {
        font-family: 'Quicksand';
        font-size: 17px;
}

.satisfy {
        font-family: 'Satisfy';
        font-size: 17px;
}

.syncopate {
        font-family: 'Syncopate';
        font-size: 17px;
}

.ubuntumono {
        font-family: 'Ubuntu Mono';
        font-size: 17px;
}

.voltaire {
        font-family: 'Voltaire';
        font-size: 17px;
}

.roboto {
        font-family: 'Roboto';
        font-size: 17px;
}

.robotoslab {
        font-family: 'Roboto Slab';
        font-size: 17px;
}

.khula {
        font-family: 'Khula';
        font-size: 17px;
}

.barrio {
        font-family: 'Barrio';
        font-size: 17px;
}

.montserratsubrayada {
        font-family: 'Montserrat Subrayada';
        font-size: 17px;
}

.raleway {
        font-family: 'Raleway';
        font-size: 17px;
}

.raviprakash {
        font-family: 'Ravi Prakash';
        font-size: 17px;
}

.lora {
        font-family: 'Lora';
        font-size: 17px;
}

.droidsans {
        font-family: 'Droid Sans';
        font-size: 17px;
}

.ubuntu {
        font-family: 'Ubuntu';
        font-size: 17px;
}

.droidserif {
        font-family: 'Droid Serif';
        font-size: 17px;
}

.baloo {
        font-family: 'Baloo';
        font-size: 17px;
}

.ptserif {
        font-family: 'PT Serif';
        font-size: 17px;
}

.indieflower {
        font-family: 'Indie Flower';
        font-size: 17px;
}

.dosis {
        font-family: 'Dosis';
        font-size: 17px;
}

.oxygen {
        font-family: 'Oxygen';
        font-size: 17px;
}

.anton {
        font-family: 'Anton';
        font-size: 17px;
}

.cabin {
        font-family: 'Cabin';
        font-size: 17px;
}

.arvo {
        font-family: 'Arvo';
        font-size: 17px;
}

.lobster {
        font-family: 'Lobster';
        font-size: 17px;
}

.pacifico {
        font-family: 'Pacifico';
        font-size: 17px;
}
